.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #EDEDED;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-padding: 6 12;
    -fx-transition: all 0.2s ease-in-out;
}

.sidebar-button:hover {
    -fx-border-color: #6A1E55;
    -fx-background-color: transparent;
}



